$color-white: #ffffff;
$color-black: #14141d;
$color-orange: #ff6600;
$color-grey: #a7a7a7;
$color-light-grey: #c7c7c7;
$color-lighter-grey: #e3e3e3;
$color-lightest-grey: #f8f8f8;

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@mixin button-styles {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $color-white;
  font-weight: 600;
  background-color: $color-orange;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 1px;
}
