$color-white: #ffffff;
$color-black: #14141d;
$color-orange: #ff6600;
$color-grey: #a7a7a7;
$color-light-grey: #c7c7c7;
$color-lighter-grey: #e3e3e3;
$color-lightest-grey: #f8f8f8;

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@mixin button-styles {
  border: none;
  outline: none;
  background-color: $color-light-grey;
  color: $color-black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
