@import "colors.scss";

.comment {
  list-style-type: none;
  margin: 12px 0;
  margin-left: calc(var(--comment-depth) * 20);
  background-color: $color-white;
  position: relative;

  div {
    white-space: pre-line;
  }
}

.text {
  margin-bottom: 16px;
  padding: 8px 12px;
}

.commentHeader {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: $color-grey;
  font-size: 12px;

  * {
    margin-right: 8px;
  }

  .author {
    color: $color-orange;
    font-size: 14px;
  }

  &:hover {
    background-color: $color-lightest-grey;
    cursor: pointer;
  }
}

.border {
  position: absolute;
  width: 2px;
  height: calc(100% + 16px);
  background-color: $color-orange;
  left: var(--depth-offset);
  top: -16px;

  &.short {
    height: 100%;
    top: 0;
  }
}
