@import "_colors.scss";

.iframe {
  height: 2000px;
  display: none;
}
.storyHeader {
  background-color: $color-white;
  padding: 20px;
}
.commentsWrapper {
  margin: 0;
  padding: 20px;
}
.author,
.time {
  // color: $color-grey;
}
