@import "_colors.scss";

.header {
  display: flex;
  align-items: center;
  background-color: $color-orange;
  height: 50px;
}

.title {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex: 1 1;
  min-height: 0;
}

.sidenav {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  overflow: auto;

  ul {
    margin: 0;
    padding: 0;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: auto;
  min-width: 0;
}
