@import "_colors.scss";

.link {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-lighter-grey;
  padding: 12px 12px;
  min-height: 80px;
  background-color: white;

  &.active {
    box-shadow: inset 5px 0px 0px 0px $color-orange;
  }

  &:hover {
    background-color: $color-lightest-grey;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 12px;
}
